# Planet Generator not supplied with this repo - download from http://hjemmesider.diku.dk/~torbenm/Planet/
planet*/

# VS Code
.vscode/
*.code-workspace

# Python
.venv/
**/__pycache__/

# Temporary files
**/*.tmp

# Other
*.ods
renders*/
debug_results/
*debug.png

# Map data
map*.*
!map*.html
preview.bmp
climate/**/*
!climate/koppen_matrix.csv
!climate/climate_palettes.json
map_workfiles/